.basket__notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 68vh;
  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
